DATABASE_URL="file:./dev.db"

# e-conomic API (kun til integration/sync)
ECONOMIC_BASE_URL="https://apis.e-conomic.com"
ECONOMIC_CUSTOMERS_API_VERSION="v3.1.0"
ECONOMIC_REST_BASE_URL="https://restapi.e-conomic.com"
ECONOMIC_APP_SECRET_TOKEN="demo"
ECONOMIC_AGREEMENT_GRANT_TOKEN="demo"
ECONOMIC_DEFAULT_LAYOUT_NUMBER=""
ECONOMIC_DEFAULT_PAYMENT_TERMS_NUMBER=""
ECONOMIC_DEFAULT_VAT_ZONE_NUMBER=""

